.profile {
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  width: 300px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 150px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.name {
  font-size: 25px;
}

.tag {
  text-decoration: none;
  font-size: 18px;
}

.location {
  font-size: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 80px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.label {
  display: block;
  margin: 5px;
  font-size: 13px;
}

.quantity {
  display: block;
  margin: 5px;
  font-size: 18px;
  font-weight: 700;
}
